.btn-default{
    background-color: rgba(0, 224, 185, 0.5);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 280px;
    height: 45px;
    margin-top: 30px;
}
.btn-default:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}